/**
 * @module app/pages/{{ pascalCase name }}
 */

import React, { Fragment } from 'react';
import Helmet from 'react-helmet-async';

import './{{ pascalCase name }}.css';

const {{ pascalCase name }}Page = () => (
  <Fragment>
    <Helmet>
      <title>{'{{ pascalCase name }}Page'}</title>
      <body id="{{ dashCase name }}-page" />
    </Helmet>
    <h1>
      {'{{ pascalCase name }}Page'}
    </h1>
  </Fragment>
);

export default {{ pascalCase name }}Page;
